@model IEnumerable<GeekGuestbook2.Models.Message>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>   
    @foreach (var item in Model) {
        <article>
            <h2>@Html.DisplayFor(modelItem => item.Header)</h2>
            <p>@Html.DisplayFor(modelItem => item.Body)</p>
            <p><a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Name)</a> - @item.Created.Date.ToShortDateString()</p>
        </article>      
            @*
                @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
            *@
    }
</body>
</html>